<footer class="footer text-bg-white py-15">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-xxl-2 col-xl-3 col-lg-4">
                <img src="/src/assets/img/logo.svg" alt="Logo" width="250">
            </div>
            <div class="col-xxl-10 col-xl-9 col-lg-8 text-end d-flex flex-column justify-content-between">
                <p>
                    Amandine Morand
                    <br>
                    <a href="mailto:info@lacatillon.ch">info@lacatillon.ch</a>
                </p>

                <p class="mt-5 small">
                    © {{ 'now'|date('Y') }} La Catillon. Tous droits réservés.
                    <br>
                    <a href="#">Politique de confidentialité</a>
                    <br>
                    Réalisé par <a href="https://www.doutaz.dev" target="_blank">doutaz.dev</a>
                </p>
            </div>
        </div>
        <div>
        </div>
    </div>
</footer>
