<header class="header Fixed">
    <nav class="navbar navbar-expand-lg navbar-light text-bg-white">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="/src/assets/img/logo-horizontal.svg" alt="Logo" width="200">
            </a>
            <a class="navbar-toggler menu-icon menu-icon-cross"  href="#menu-mobile">
                <span></span>
                <svg x="0" y="0" width="54px" height="54px" viewBox="0 0 54 54">
                    <circle cx="27" cy="27" r="26"></circle>
                </svg>
            </a>
            <div class="collapse navbar-collapse" id="navbarColor02">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Spectacles</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Actualités</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Festivals</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Historique</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
