<header class="header Fixed">
    <nav class="navbar navbar-expand-lg navbar-light text-bg-white">
        <div class="container">
            <a class="navbar-brand" href="./">
                <img src="/src/assets/img/logo-horizontal.svg" alt="Logo">
            </a>
            <a class="navbar-toggler collapsed menu-icon menu-icon-cross" href="#" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                <span></span>
            </a>
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0 align-items-lg-center">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/spectacles">Spectacles</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/actualites">Actualités</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/festivals">Festivals</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/historique">Historique</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">Contact</a>
                    </li>
                    <li class="nav-item">
                        <div class="nav-link">
                            <a class="btn btn-secondary" href="#">
                                <i class="fas fa-ticket me-2"></i>
                                Billetterie
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
