.navbar {
    position: fixed;
    z-index: $zindex-offcanvas - 1;
    top: 0;
    left: 0;
    width: 100%;

    box-shadow: $box-shadow;

    & .navbar-brand img {
        height: 70px;
    }

    & .navbar-collapse.collapsing, .navbar-collapse.show {
        & .nav-item {
            &:first-child {
                padding-top: 1rem;
            }

            &:last-child {
                padding-bottom: 1rem;
            }
        }
    }
}
