{% extends '@layouts/layout-default.twig' %}

{% block content %}
    <section class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-10 d-flex flex-column gap-5">
                <h1>
                    Fin de la gare aux sorcières
                </h1>


                <div>
                    <p>
                        Après un quart de siècle d’activité, le théâtre de la Gare aux Sorcières fermera définitivement ses portes à l’automne 2025.
                        La troupe La Catillon, elle, poursuivra son activité et recherche d’ores et déjà un autre lieu où se produire.
                    </p>
                </div>

                <img src="/src/assets/img/actualite.jpg" alt="Actualite Reader" width="500">

                <hr>

                <div class="socials">
                    <p class="small">
                        Partager cet article
                    </p>
                    <div class="d-flex gap-6 flex-wrap">
                        <a href="#" class="text-white">
                            <i class="fab fa-square-facebook"></i>
                        </a>
                        <a href="#" class="text-white">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <a href="#" class="text-white">
                            <i class="fab fa-x-twitter"></i>
                        </a>
                        <a href="#" class="text-white">
                            <i class="fab fa-whatsapp"></i>
                        </a>
                        <a href="#" class="text-white">
                            <i class="fab fa-linkedin"></i>
                        </a>
                        <a href="#" class="text-white">
                            <i class="far fa-envelope"></i>
                        </a>
                    </div>
                </div>

                <hr>

                <div>
                    <p>
                        Après un quart de siècle d’activité à Moléson-Village, le théâtre de la Gare aux Sorcières fermera définitivement ses portes à l’automne 2025. «La Catillon redeviendra alors une troupe nomade», complète sa présidente Amandine Morand. Propriété du Centre touristique Gruyère-Moléson-Vudalla SA (GMV) qui exploite les remontées mécaniques de Moléson, l’édifice «sera réaménagé en bâtiment de services», communique le groupe théâtral. Situé au pied du funiculaire, il sera utile au développement de la station et de sa stratégie quatre saisons.
                    </p>
                    <p>
                        Au début des années 2000, le bâtiment industriel – autrefois la gare de départ de la télécabine de Plan-Francey – avait été réaménagé en une salle de spectacle par La Catillon. Depuis, il était pour la troupe une scène attitrée, mais aussi «un lieu de fête et de culture, également utilisé par d’autres sociétés locales», indique Amandine Morand. «Nous sommes tristes que l’histoire de notre salle se termine. Mais aussi très reconnaissants du partenariat avec GMV durant toutes ces années», note-t-elle.
                    </p>
                    <p>
                        C’est «une phase qui se termine» pour le groupe théâtral fondé en 1982 et il s’agit maintenant de trouver un nouvel espace où se produire, idéalement sur la commune de Gruyères. «Mais on ne ferme la porte à aucune proposition», ajoute la présidente, qui se dit ouverte à des collaborations avec d’autres sociétés en mal de locaux. A noter que la Gare aux Sorcières n’a pas encore tout à fait fini d’accueillir du public, puisque la troupe des jeunes de La Catillon s’y produira en mai.
                    </p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
