{% extends '@layouts/layout-default.twig' %}

{% block content %}
    <section class="container d-flex flex-column gap-5">
        <h1>
            Historique
        </h1>

        <div class="row gy-10">
            <div class="col-lg-4 order-lg-last">
                <img src="/src/assets/img/historique.jpg" class="img-fluid rounded" alt="Historique de La Catillon">
            </div>
            <div class="col-lg-8">
                <p>
                    La société de théâtre de La Catillon a été fondée en 1982 et est forte de plus de quarante membres. La mise en scène de pièces de théâtre est le cœur de notre activité, nos troupes d’adultes et de jeunes produisent chacune un spectacle annuel en moyenne. Depuis sa fondation La Catillon a présenté près de 40 spectacles, de style et d’auteurs différents. Avec principalement des mises en scène maison, mais aussi en collaborant avec d’autres troupes ou metteurs en scène professionnels. Plusieurs événements ont marqué la vie de notre troupe. On peut citer Jehan L’Eclopé en 1991 ou Lysistrata en 1995,  qui sont restés des créations majeures de notre société. En 2007 La Catillon a fêté dignement ses 25 ans avec un week-end de spectacles à Moléson-sur-Gruyères.
                </p>

                <h4>Récompenses</h4>
                <p>
                    Au fil des ans, la troupe a reçu plusieurs récompenses :
                </p>
                <ul>
                    <li>1992 L’autre fils (Pirendello), Louis d’argent au festival de Saint Louis, mise en scène André Pauchard</li>
                    <li>2000 La Sérénade (Mrozek), Louis d’argent au festival de Saint Louis, mise en scène Nicole Michaud</li>
                    <li>2010 Les Belles-Sœurs (M. Tremblay), 1er prix au festival de La Chisaz, mise en scène Sylviane Tille</li>
                    <li>2014 Le Roi est mort (V. Dheygre), 1er prix et prix du public au festival de La Chisaz / Prix de la mise en scène au festival international d’Annecy. Mise en scène Monique Marmy</li>
                    <li>2017 Lebensraum (I. Horowitz), Grand Prix du concours de la Fédération Suisse des Sociétés Théâtrales amateurs FSSTA. Mise en scène Sylviane Tille</li>
                </ul>

                <h4>La Gare aux Sorcières</h4>
                <p>
                    Depuis 2001, grâce à une fructueuse collaboration avec la société des remontées mécaniques GMV de Moléson, nous occupons l’ancienne gare de départ du télécabine, transformée en salle de spectacle toute équipée « La Gare aux Sorcières ». Cet endroit a vu 14 ans de saison de programmation de théâtre professionnels qui ont fait le bonheur de notre public. Après l’arrêt de cette saison en 2015, nous est venue l’idée de mettre sur pieds un Festival de théâtre amateur, le « Festival du Fond d’la Bleue », premier du genre au pied du Moléson et qui se déroulera les 24-25 et 26 mai 2019.
                </p>

                <h4>La troupe des Jeunes</h4>
                <p>
                    La troupe de la Catillon a été fondée en 1982. Depuis 1993, nous avons le plaisir de former la relève et de transmettre notre passion du théâtre aux enfants grâce à la création de la troupe des Jeunes.
                    Forte de 12 acteurs âgés de 12 à 17ans, notre troupe des Jeunes de la Catillon est mise en scène depuis 6 ans par Julie Baechler-Bzoch et Amandine Morand. Après James et la grosse pêche (2014, Roald Dahl), Les parapluies mouillés (2015, Martine Delerm), Pan (2016, James Matthew Barrie), Le Dragon (2017, Evgueni Schwartz) et Alice et autres merveilles (2018, Fabrice Melquiot), nous avions à coeur de proposer à nos acteurs un projet ambitieux qui leur demanderait de se surpasser.
                </p>
                <p>
                    Nous cherchons toujours à enchanter notre public et à propulser petits et grands dans un univers surprenant et décalé. Nous avons à coeur de proposer des mises en scènes contemporaines, qui contribuent au voyage de notre public, une parenthèse hors du temps en quelques sortes. Un terrain de jeu qui laisse toute la place à la fantaisie et à la créativité, notamment dans les costumes et les décors.
                </p>
                <p>
                    Actuellement, nous travaillons sur un nouveau projet pour mai 2019, "Ils 10'paraîtront", d'après Agatha Christie, un huit-clos aux couleurs steampunk. A très vite sur les planches de la Gare!
                </p>
            </div>
        </div>
    </section>
{% endblock %}
