{% extends '@layouts/layout-default.twig' %}

{% block content %}

    <div class="d-grid gap-5">
        {% include '@components/hero.twig' %}

        <section class="container d-flex flex-column gap-5">
            <div class="d-flex flex-wrap gap-5 justify-content-between align-items-center mb-5">
                <h3 class="my-0">Spectacles à venir</h3>
                <a href="/spectacles">Voir tous les spectacles <i class="fa-solid fa-arrow-right ms-2"></i></a>
            </div>

            <div class="row row-cols-lg-3 gy-10">
                {% for i in range(0, 2) %}
                    <div>
                        {% include '@components/spectacle.twig' with { ticket: true } %}
                    </div>
                {% endfor %}
            </div>
        </section>

        <section class="text-bg-tertiary">
            <div class="container d-flex flex-column gap-5">
                <div class="d-flex flex-wrap gap-5 justify-content-between align-items-center mb-5">
                    <h3 class="my-0">Actualités</h3>
                    <a href="/actualites">Voir toutes les actualités <i class="fa-solid fa-arrow-right ms-2"></i></a>
                </div>

                <div class="row row-cols-lg-3 gy-10">
                    {% for i in range(0, 2) %}
                        <div>
                            {% include '@components/article.twig' %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    </div>
{% endblock %}
