<div class="card position-relative">
    <a href="/lacatillon/actualites-reader">
        <img src="/src/assets/img/actualite.jpg" class="card-img-top" alt="Actualité 1">
    </a>
    <div class="card-body">
        <h4>Fin de la gare aux sorcières</h4>
        <p><i class="fa-solid fa-calendar me-2"></i> 24 février 2025</p>
        <p>
            Après un quart de siècle d’activité, le théâtre de la Gare aux Sorcières fermera définitivement ses portes à l’automne 2025.
            La troupe La Catillon, elle, poursuivra son activité et recherche d’ores et déjà un autre lieu où se produire.
        </p>
        <a href="/lacatillon/actualites-reader" class="btn btn-outline-primary"><i class="fa-solid fa-plus me-2"></i> En savoir plus</a>
    </div>
</div>
