{% set example_list = [
    { title: "Titre 1", text: "reusable element" },
    { title: "Titre 2", text: "Dolor sit amet" },
    { title: "Titre 3", text: "Lorem ipsum" },
    { title: "Titre 4", text: "Dolor sit amet" },
    { title: "Titre 5", text: "Lorem ipsum" },
    { title: "Titre 6", text: "Dolor sit amet" }
] %}

<div class="container">
    <h4 class="h3">Twig loop example</h4>
    {% for element in example_list %}
        <div class="row">
            <div class="col-lg-1">
                <h5>{{ element.title }}</h5>
            </div>
            <div class="col-lg-6">
                <p>{{ element.text }}</p>
            </div>
        </div>
    {% endfor %}
</div>
