<div class="container">
    <h3>Fancy links</h3>
    <p>
        Lorem ipsum dolor sit amet, <a href="#" class="fancy-link-1">consectetur adipiscing elit</a>. Nulla efficitur tempor lacus, quis facilisis felis varius vel. Vestibulum tristique lorem eget fermentum fermentum. Quisque egestas, arcu vitae efficitur sagittis, erat risus imperdiet erat, id ultrices magna quam ut nisi. Mauris vitae dolor ac metus vestibulum placerat. Quisque luctus scelerisque massa ac dictum. Nullam tristique dictum ligula, non rutrum est porta sit amet. Suspendisse egestas felis vel massa sagittis, vel lacinia arcu vestibulum. Sed pellentesque sapien id ligula ultricies, a tincidunt mi iaculis. Fusce commodo felis sit amet tincidunt vehicula. <a href="#" class="fancy-link-2">In nec orci ut velit fringilla luctus</a>. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
    </p>
</div>
