<div class="card position-relative">
    <img src="/src/assets/img/fond-dla-bleue.jpeg" class="card-img-top" alt="Spectacle 1">
    <div class="card-body">
        <h4>Festival du Fond d'la Bleue</h4>
        <p>De retour pour sa deuxième édition.</p>
        <p>
            5-6-7 mai 2023
        </p>
        <p><i class="fa-solid fa-location-dot me-2"></i> Gare aux Sorcières, Moléson</p>
        <div class="d-flex flex-wrap gap-3 justify-content-between">
            <a href="/lacatillon/festivals-reader" class="btn btn-outline-primary stretched-link"><i class="fa-solid fa-plus me-2"></i> En savoir plus</a>
            {% if ticket %}<a class="btn btn-secondary" href="#"><i class="fas fa-ticket me-2"></i> Billetterie</a>{% endif %}
        </div>
    </div>
</div>
