<div class="hero">
    <figure>
        <img class="hero-img" src="/src/assets/img/hero.jpg">
        <figcaption>
            Photo : <a href="https://www.instantsimages.ch/" target="_blank">instantsimages.ch</a>
        </figcaption>
    </figure>
    <div class="inner text-center">
        <h1 class="d-none">La Catillon</h1>
        <img src="/src/assets/img/logo-text-slogan.svg" width="750">
    </div>
</div>
