<div class="card position-relative">
    <a href="/lacatillon/spectacles-reader">
        <img src="/src/assets/img/wanted-petula.jpeg" class="card-img-top" alt="Spectacle 1">
    </a>
    <div class="card-body">
        <h4>Wanted Petula</h4>
        <p>Un voyage intergalactique, une famille excentrique et plein de rebondissements !</p>
        <p>
            <strong>20h15</strong> 20-21-22-23 | 27-28-29 juin
            <br>
            <strong>17h</strong> 23 juin
        </p>
        <p><i class="fa-solid fa-location-dot me-2"></i> Gare aux Sorcières, Moléson</p>
        <div class="d-flex flex-wrap gap-3 justify-content-between">
            <a href="/lacatillon/spectacles-reader" class="btn btn-outline-primary"><i class="fa-solid fa-plus me-2"></i> En savoir plus</a>
            {% if ticket %}<a class="btn btn-secondary" href="#"><i class="fas fa-ticket me-2"></i> Billetterie</a>{% endif %}
        </div>
    </div>
</div>
