<div class="card">
    <img src="/src/assets/img/wanted-petula.jpeg" class="card-img-top" alt="Spectacle 1">
    <div class="card-body">
        <h4>Wanted Petula</h4>
        <p>Un voyage intergalactique, une famille excentrique et plein de rebondissements !</p>
        <p>
            <strong>20h15</strong> 20-21-22-23 | 27-28-29 juin
            <br>
            <strong>17h</strong> 23 juin
        </p>
        <p><i class="fa-solid fa-location-dot me-2"></i> Gare aux Sorcières</p>
        <div class="d-flex flex-wrap gap-3 justify-content-between">
            <a href="#" class="btn btn-primary"><i class="fa-solid fa-plus me-2"></i> Voir plus</a>
            <a href="#" class="btn btn-secondary"><i class="fa-solid fa-calendar me-2"></i> Réserver</a>
        </div>
    </div>
</div>
